@{
    ViewBag.Title = "数据分析-魔云店长";
    Layout = "~/Views/Shared/_SubMaster.cshtml";
}
<link href="@Url.Content("~/js/datepicker/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/DataAnalysis/Chart.min.js")" type="text/javascript"></script>
<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
        <ol class="breadcrumb">
            <li><a href="index.html">Admin Panel</a></li>
            <li><a href="#">Data Visualization</a></li>
            <li class="active">Charts</li>
        </ol>
        <h1>
            Data Visualization</h1>
        <p>
            Credit goes to <a href="http://www.chartjs.org">chartjs.org</a></p>
        <div class="templatemo-charts">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Pie Chart &amp; Doughnut Chart</div>
                    </div>
                    <div class="row templatemo-chart-row">
                        <div class="templatemo-chart-box col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <canvas id="templatemo-pie-chart"></canvas>
                            <h4>
                                Pie Chart</h4>
                            <span class="text-muted">Maecenas non</span>
                        </div>
                        <div class="templatemo-chart-box col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <canvas id="templatemo-doughnut-chart"></canvas>
                            <h4>
                                Doughnut Chart</h4>
                            <span class="text-muted">Sodales orci aliquet</span>
                        </div>
                        <div class="templatemo-chart-box col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <canvas id="templatemo-radar-chart"></canvas>
                            <h4>
                                Radar Chart</h4>
                            <span class="text-muted">Lorem sed</span>
                        </div>
                        <div class="templatemo-chart-box col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <canvas id="templatemo-polar-chart"></canvas>
                            <h4>
                                Polar Area Chart</h4>
                            <span class="text-muted">Curabitur</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Line Chart</div>
                        <canvas id="templatemo-line-chart"></canvas>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Bar Chart</div>
                        <canvas id="templatemo-bar-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Line chart
    var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
    var lineChartData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
        }
        ]

    } // lineChartData

    var pieChartData = [
    {
        value: 300,
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "Red"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Green"
    },
    {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Yellow"
    }
    ] // pie chart data

    // radar chart
    var radarChartData = {
        labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
        datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 90, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 96, 27, 100]
        }
        ]
    }; // radar chart

    // polar area chart
    var polarAreaChartData = [
    {
        value: 300,
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "Red"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Green"
    },
    {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Yellow"
    },
    {
        value: 40,
        color: "#949FB1",
        highlight: "#A8B3C5",
        label: "Grey"
    },
    {
        value: 120,
        color: "#4D5360",
        highlight: "#616774",
        label: "Dark Grey"
    }

    ];

    window.onload = function () {
        var ctx_line = document.getElementById("templatemo-line-chart").getContext("2d");
        var ctx_bar = document.getElementById("templatemo-bar-chart").getContext("2d");
        var ctx_pie = document.getElementById("templatemo-pie-chart").getContext("2d");
        var ctx_doughnut = document.getElementById("templatemo-doughnut-chart").getContext("2d");
        var ctxRadar = document.getElementById("templatemo-radar-chart").getContext("2d");
        var ctxPolar = document.getElementById("templatemo-polar-chart").getContext("2d");

        window.myLine = new Chart(ctx_line).Line(lineChartData, {
            responsive: true
        });
        window.myBar = new Chart(ctx_bar).Bar(lineChartData, {
            responsive: true
        });
        window.myPieChart = new Chart(ctx_pie).Pie(pieChartData, {
            responsive: true
        });
        window.myDoughnutChart = new Chart(ctx_doughnut).Doughnut(pieChartData, {
            responsive: true
        });
        var myRadarChart = new Chart(ctxRadar).Radar(radarChartData, {
            responsive: true
        });
        var myPolarAreaChart = new Chart(ctxPolar).PolarArea(polarAreaChartData, {
            responsive: true
        });
    }
</script>
