<?xml version="1.0" encoding="utf-8" ?>
<SoftInfoConfig>
  <!--测试环境 URL-->
  <ZSHJ>https://oauth.taobao.com/authorize?</ZSHJ>
  <messageUrl>ws://mc.api.taobao.com/</messageUrl>
  <CSHJ>https://oauth.taobao.com/authorize?</CSHJ>
  <AppKey>23031989</AppKey>
  <AppSecret>6841b12611449a6f543844e2c97a7863</AppSecret>
  <CallBackUrl>http://192.168.0.126:2014/Auth/Index.html</CallBackUrl>
  <AccessTokenURL>https://oauth.taobao.com/token</AccessTokenURL>
  <ApiURL>http://gw.api.taobao.com/router/rest</ApiURL>
  <TQLURL>http://gw.api.taobao.com/tql</TQLURL>
  <RootFilePath>~/UploadImgs/GoodsPicture</RootFilePath>
</SoftInfoConfig>