<div class="quick_menu_wrap">
    <div class="quick_menu_hd">
        <a href="javascript:void();" class="quick_menu_add">管理快捷菜单</a>
        <ul>
            <li><span>我的快捷菜单</span></li>
        </ul>
    </div>
    <div class="quick_menu_bd">
        <ul>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_0">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_1">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_2">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_3">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_4">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_5">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_6">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_7">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_8">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_9">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_10">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
            <li>
                <a href="javascript:void();" class="quick_menu_nav nav_style_11">
					<div class="quick_menu_frame"></div>
					<img src="/Images/test.png" />
					<span>系统测试</span>
				</a>
            </li>
        </ul>
    </div>
</div>