@model MYDZ.Entity.Order.Logistic
<tr>
    <td class="left">物流：</td>
    <td>@Model.LogisticsName</td>
</tr>
<tr>
    <td class="left">物流单号：</td>
    <td><input type="text" name="initialNum" style="width:280px;" data-reg="@Model.LogisticsReg" name="number" value="" /></td>
</tr>