@model IList<MYDZ.Entity.Order.StoreLogistics>
@{
    Layout = null;
}
<tr>
    <td class="left">
        物流：
    </td>
    <td>
        <select style="width: 220px;">
            <option value="0">请选择</option>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                <option @(ViewBag.LId == item.Logistics.LogisticsId ? "selected" : "") value="@item.Logistics.LogisticsId">@item.Logistics.LogisticsName</option>
                    }
                }
            }
        </select>
    </td>
</tr>
