body
{
    position: relative;
    font: 12px/20px Arial, sans-serif, '宋体';
    color: #888;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
}
*
{
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td
{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
}
ul, ol, li
{
    list-style: none;
}
em, i, strong, b
{
    font-style: normal;
}
img
{
    border: none;
}
a
{
    text-decoration: none;
    color: #333;
    outline: none;
}
a:hover
{
    text-decoration: underline;
    transition-property: color .3s linear 0s;
    -moz-transition: color .3s linear 0s;
    -webkit-transition: color .3s linear 0s;
    -o-transition: color .3s linear 0s;
}
font
{
    font: normal 12px Arial;
}
div, ol, ul, li, dl, dt, dd
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/****************************Header样式****************************/
.header_wrap
{
    height: 32px;
    width: 100%;
    background: #e9e9e9;
}
.header_wrap_hd
{
    width: 1200px;
    margin: 0px auto;
}
.header_wrap_hd ul.fl
{
    float: left;
}
.header_wrap_hd ul.fr
{
    float: right;
}
.header_wrap_hd ul li
{
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0 10px 0 10px;
    color: #333;
    text-shadow: 1px 1px 1px white;
}
.header_wrap_hd ul.fr li a
{
    margin-left: 5px;
}

/****************************Header样式****************************/

/****************************Tool样式****************************/
.master_wrap
{
    width: 1200px;
    margin: 10px auto;
    zoom: 1;
    min-height: 610px;
}
.master_wrap:after
{
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.master_wrap_left
{
    float: left;
    width: 190px;
}
.master_wrap_right
{
    float: right;
    width: 1000px;
}
.tool_wrap
{
    width: 188px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
}
.tool_wrap_shortcut
{
    margin: 0px;
}
.tool_wrap_hd
{
    height: 40px;
    line-height: 40px;
    background: #f2f2f2;
    width: 100%;
    border-bottom: #dbdbdb 1px solid;
}
.tool_wrap_hd li
{
    float: left;
}
.tool_wrap_hd li h2
{
    font-size: 14px;
    font-weight: normal;
    text-shadow: 1px 1px 1px white;
    padding-left: 15px;
}
.tool_wrap_hd li.tool_wrap_ico
{
    float: right;
}
.tool_wrap_hd li.tool_wrap_ico a
{
    display: inline;
    float: left;
    margin: 12px 10px 0px 0px;
    _margin-top: 11px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #f2f2f2 url('/Images/tool.jpg') no-repeat;
}
.tool_wrap_hd li.tool_wrap_ico a.tool_ico_stretch
{
    background-position: -16px 0px;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform-origin: 50% 57%;
    transform-origin: 50% 57%;
}
.tool_wrap_hd li.tool_wrap_ico a.tool_ico_stretch_selected
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform: rotate(0);
}
.tool_wrap_bd
{
    padding-bottom: 10px;
    clear: both;
}
.tool_wrap_bd li
{
    margin: 10px 10px 0px 10px;
}
.tool_wrap_bd li a
{
    display: block;
    height: 24px;
    line-height: 24px;
    padding-left: 20px;
    width: 148px;
    color: #333;
}
.tool_wrap_bd li a:hover, .tool_wrap_bd li a.tool_wrap_selected
{
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color .1s ease-in,color .1s ease-in;
    -moz-transition: background-color .1s ease-in,color .1s ease-in;
    -ms-transition: background-color .1s ease-in,color .1s ease-in;
    -o-transition: background-color .1s ease-in,color .1s ease-in;
    transition: background-color .1s ease-in,color .1s ease-in;
}
/****************************Tool样式****************************/

/****************************快捷菜单样式****************************/
.quick_menu_hd
{
    height: 44px;
    position: relative;
    border-bottom: #bbbbbb 1px solid;
}
.quick_menu_hd li
{
    float: left;
}
.quick_menu_hd li span
{
    display: block;
    border-width: 2px 1px 0px 1px;
    padding: 0px 15px;
    border-style: solid;
    background-color: #fff;
    font-size: 14px;
    line-height: 43px;
}
.quick_menu_hd a
{
    position: absolute;
    right: 15px;
    font-size: 14px;
    line-height: 44px;
}
.quick_menu_bd
{
    border-color: #bbbbbb;
    padding: 10px 0px 0px 10px;
    border-style: solid;
    min-height: 100px;
    border-width: 0px 1px 1px 1px;
}
.quick_menu_bd li
{
    float: left;
    margin: 0px 10px 10px 0px;
}
.quick_menu_bd:after
{
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.quick_menu_nav
{
    position: relative;
    display: block;
    text-align: center;
    width: 69px;
    height: 60px;
    color: #fff;
    padding: 20px 10px 10px 10px;
    background-color: #fec415;
}
.quick_menu_nav img
{
    width: 32px;
    height: 32px;
}
.quick_menu_nav span
{
    float: left;
    display: block;
    width: 70px;
    text-align: left;
    color: #fff;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
}
.quick_menu_frame
{
    border: 6px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
.nav_style_0
{
    background: #4682b4;
}
.nav_style_1
{
    background: #66CDAA;
}
.nav_style_2
{
    background: #EDCA15;
}
.nav_style_3
{
    background: #A0CE4E;
}
.nav_style_4
{
    background: #e86e1c;
}
.nav_style_5
{
    background: #3abfc2;
}
.nav_style_6
{
    background: #e55237;
}
.nav_style_7
{
    background: #3ac24d;
}
.nav_style_8
{
    background: #ffcc66;
}
.nav_style_9
{
    background: #106820;
}
.nav_style_10
{
    background: #682848;
}
.nav_style_11
{
    background: #D03030;
}
/****************************快捷菜单样式****************************/

/****************************二级菜单样式****************************/
.header_wrap_hd ul.fl ul
{
    position: absolute;
    z-index: 199;
    min-width: 100px;
    padding: 4px 0;
    margin: 1px 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    display: none;
}
.header_wrap_hd ul.fl ul li
{
    clear: both;
    height: auto;
}
.header_wrap_hd ul.fl ul li a
{
    font-size: 12px;
    display: block;
    padding: 5px 25px 5px 15px;
    clear: both;
    height: 20px;
    line-height: 20px;
    min-width: 60px;
    font-weight: 400;
    color: #141414;
    white-space: nowrap;
    text-shadow: none;
    position: relative;
}
.header_wrap_hd ul.fl ul li a.header_parent:after
{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    top: 11px;
    right: 5px;
    border-top: 4px solid transparent;
    border-left: 4px solid #333;
    border-bottom: 4px solid transparent;
    border-right: 0 dotted;
}
.header_wrap_hd ul.fl ul li.active a:after
{
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 11px;
    background: url('/Images/sel.png') no-repeat;
    top: 9px;
    right: 3px;
}
.header_wrap_hd ul.fl ul li:hover
{
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}
.header_wrap_hd ul.fl ul li:hover a.header_parent:after
{
    border-left: 4px solid #fff;
}
.header_wrap_hd ul.fl ul li:hover a, .header_wrap_hd ul.fl ul li:hover ul.header_subitem li:hover a
{
    text-decoration: none;
    color: #fff;
}
.header_wrap_hd ul.fl ul li.active a, .header_wrap_hd ul.fl ul li.active:hover a, .header_wrap_hd ul.fl ul li:hover ul.header_subitem li.active:hover a
{
    color: #141414;
    text-shadow: 0 1px 0 #fff;
}
.header_wrap_hd ul.fl ul li.active, .header_wrap_hd ul.fl ul li.active:hover
{
    background-color: #e5e5e5;
}
.header_wrap_hd ul.fl ul li:hover ul.header_subitem li a
{
    color: #141414;
    position: relative;
}
.header_wrap_hd ul.fl ul li:hover ul.header_subitem li a span
{
    position: absolute;
    left: 0px;
    top: 8px;
    display: block;
    width: 11px;
    height: 11px;
    border: #fff 1px solid;
}
.header_wrap_hd ul.fl li
{
    padding: 0 5px;
}
.header_wrap_hd ul.fl a.header_user
{
    padding: 5px 18px 7px 10px;
    position: relative;
}
.header_wrap_hd ul.fl a.header_user i
{
    position: absolute;
    top: 11px;
    right: 5px;
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
}
.header_wrap_hd ul.fl a.header_user:hover i
{
    border-top: 4px solid #fff;
}
.header_wrap_hd ul.fl a.header_user.selected i
{
    border-bottom: 4px solid #fff;
    border-top: 0 dotted;
    top: 10px;
}
.header_wrap_hd ul.fl a.header_user:hover, .header_wrap_hd ul.fl a.header_user.selected
{
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 0px white;
}
/****************************二级菜单样式****************************/
.nav_wrap
{
    width: 100%;
    height: 68px;
}
.nav_inner
{
    margin: 0px auto;
    padding: 19px 0px;
    width: 1200px;
    height: 32px;
}
.nav_inner ul
{
    float: right;
}
.nav_inner ul li
{
    margin: 0px 5px;
    float: left;
    line-height: 20px;
    position: relative;
}
.nav_inner ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    padding: 6px 15px 6px 15px;
    color: #fff;
    position: relative;
}
.nav_inner ul li a:hover
{
    background: #fff;
}
.nav_inner ul li a i
{
    display: inline-block;
    position: relative;
    top: -1px;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    vertical-align: middle;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
}
.nav_inner ul li a:hover i
{
    top: -3px;
}
.nav_dropdown
{
    position: absolute;
    display: none;
    top: 100%;
    left: -30px;
    z-index: 199;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 17px 0 0;
    background: url(/Images/dropdown-bg.png) repeat top left;
    background-color: none;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}
.nav_inner ul li .nav_dropdown li
{
    width: 100%;
    border-bottom: 1px solid #ddd;
    color: #454545;
    margin: 0;
    padding: 0;
}
.nav_inner ul li .nav_dropdown li a
{
    color: #454545;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px 10px 32px;
    margin: 0;
}
/****************************导航栏样式****************************/
/****************************侧边栏****************************/
.sidebar_wrap a
{
    display: none;
    text-decoration: none;
    z-index: 199;
    position: fixed;
    bottom: 71px;
    right: 10px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    text-indent: -999px;
    background-image: url(/Images/ui.totop.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: none;
}
.sidebar_wrap #Feedback
{
    display: block;
    bottom: 10px;
    background-image: url(/Images/ui.feedback.png);
}
.sidebar_wrap a span
{
    background-image: url(/Images/ui.totop.png);
    background-repeat: no-repeat;
    background-position: left -51px;
    width: 51px;
    height: 51px;
    display: block;
    overflow: hidden;
    float: left;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.sidebar_wrap #Feedback span
{
    background-image: url(/Images/ui.feedback.png);
}
/****************************侧边栏****************************/

/****************************底部****************************/

footer
{
    border-bottom: 8px solid;
    background: #040404;
    margin: 0;
    padding: 15px 0 15px 0;
    color: #fff;
}
.footer_container, .footer_sub
{
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    clear: both;
}
.footer_link
{
    float: left;
}
.footer_con
{
    float: right;
}
.footer_con li, .footer_link li
{
    float: left;
    margin-left: 10px;
    padding-bottom: 15px;
}
.footer_link li
{
    margin: 0px 20px 0px 0px;
}
.footer_link li:first-child
{
    margin-left: 20px;
}
.footer_link li a
{
    color: #fff;
}
.footer_sub
{
    border-top: 1px solid #121212;
    padding: 15px 0 0 0;
}
/****************************底部****************************/




