.itemTable,.listTable,.OrderTable {
    margin:0px auto;
    margin-top:10px;
    width:800px;
}
.itemTable tr td {
    padding:7px 5px 7px 0px;
    color:#333;
    font-size:13px;
    text-align:right;
}
.itemTable tr td.r {
    text-align: left;
    width: 300px;
    color: black;
}
.listTable th,.listTable td {
    height:30px;
    text-align:center;
}
.listTable th {
    border-top:#3984D0 2px solid;
    background:#F2F2F2;
    color: #3984D0;
    text-shadow: white 1px 1px 1px;
    font-weight:normal;
}
.listTable td {
    border-bottom:#BBBBBB 1px dotted;
    color:#333;
}
.OrderTable {
    border-width:2px 1px 1px 1px;
    border-style:solid;
    border-color:#3984D0 #BBBBBB #BBBBBB #BBBBBB;
    color:#333;
    width:1000px;
    text-align:center;
}
.OrderTable td {
    height:120px;
}
.OrderTable td.r {
    border-right:#BBBBBB 1px dotted;
}
.OrderTable table table td {    
    border-bottom:#BBBBBB 1px dotted;
}
.OrderTable table tr.clear td {
    border-bottom:0px;
}
.PImg {
    width:100px;
    height:100px;
    border:#C0C0C0 1px solid;
}
.detail_wrap {
    position:relative;
}
.detail_div {
    display:none;
    position:absolute;
    z-index:10;
    width:250px;
    right:70px;
    top:-20px;
}
.detail_wrap:hover .detail_div {
    display:block;
}
.detail_div ul.top {
    height:31px;
    width:250px;
    background:url('/Images/ToolTip/top.gif') no-repeat;
    text-align:left;
}
.detail_div ul.top li {
    height:29px;
    margin:0px 0px 0px 10px;
    padding:0px 0px 0px 20px;
    text-align:left;
    background:url('/Images/ToolTip/title.gif') no-repeat left center;
    color:#c33700;
    font-weight:bold;
    line-height:29px;
    float:left;
}
.detail_div ul.top li.img {
    height:29px;
    margin:0px;
    padding:0px;
    width:100px;
    text-align:left;
    background:none;
}
.detail_div ul.top li.img img {
    width:12px;
    height:12px;
    border:0px;
}
.detail_div ul.bottom {
    height:9px;
    width:250px;
    background:url('/Images/ToolTip/bottom.gif') no-repeat;
}
.detail_div ul.middle {
    width:250px;
    background:url('/Images/ToolTip/middle.gif');
}
.detail_div ul.middle li {
    margin:0px;
    padding:0px 0px 0px 10px;
    width:200px;
    text-align:left;
    color:#666666;
    line-height:29px;
    white-space:normal; 
    word-break:break-all;
    overflow:auto;
}