.layer_wrap {
    display: block;
    position:fixed;
    z-index: 202;
    display:none;
}
.layer_wrap_main {
    position: relative;
    background-color:#fff;
    z-index: 202;
}
.layer_wrap_icon {
    background-image: url(/Images/alt_msg.png);
    display: block;
    height: 32px;
    left: 15px;
    position: absolute;
    top: 50px;
    width: 32px;
}
.icon_1 {
    background-position:0px 0px;
}
.icon_2 {
    background-position:-32px 0px;
}
.icon_3 {
    background-position:-64px 0px;
}
.icon_4 {
    background-position:-96px 0px;
}
.layer_wrap_text {
    display: block;
    float: left;
    font:normal 14px 宋体;
    height: 25px;
    line-height: 25px;
    padding: 54px 20px 0px 55px;
    color:#363636;
    word-break: break-all;
    overflow:hidden;
}
.layer_wrap_title {
    display: block;
    position: absolute;
    background-color: #74D0E9;
    height: 36px;
    line-height: 36px;
    left: 0px;
    top: 0px;
}
.layer_wrap_title em {
    display: block;
    position: absolute;
    color: #fff;
    font:bold 14px 宋体;
    height: 20px;
    left: 10px;
    line-height: 20px;
    overflow:hidden;
    top: 9px;
    width: 183.1875px;
}
.layer_wrap_close {
    position: absolute;
    display: block;
    background:url(/Images/close.png) no-repeat;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 21px;
    overflow:hidden;
    right: 10px;
    top: 10px;
    text-decoration: none;
}
.layer_wrap_btn {
    display: inline;
    width: auto;
    height: auto;
    line-height: 21px;
    color: #363636;
}
.layer_wrap_btn a {
    float:right;
    margin:12px 10px 0px 0px;
    display:block;
    height: 22px;
    font:normal 12px 宋体;
    padding: 3px 10px 2px 10px;
    line-height: 22px;
    color: white;
    background-color: #646466;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration:none;
}
.layer_wrap_btn a:hover {
    text-decoration:underline;
}
.layer_wrap_btn a.layer_wrap_btn_yes {
    background-color:#0187D0;
}
.layer_wrap_bg {
    position: absolute;
    left: -6px;
    top: -6px;
    background-color: #000;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
    z-index: 201;
}